.github/
.husky/

docs/
test/
node_modules/

.gitignore
.npmignore
.prettierrc
.gitattributes
.prettierignore
.editorconfig

CHANGELOG.md

tsconfig.json
package-lock.json

lint.config.js
rollup.config.js
eslint.config.js

