.github/
.husky/

docs/
test/
tools/
node_modules/
coverage/
scripts/

.gitignore
.npmignore
.prettierrc
.gitattributes
.prettierignore
.editorconfig

CHANGELOG.md
CONTRIBUTING.md

tsconfig.json
package-lock.json

lint.config.js
rollup.config.js
eslint.config.js

